

.input-group{
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input-group .form-label{
    color: #503327;
    width: 70%;
    text-align: start;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
}

.input-group .form-control{
    color: #503327;
    background-color: #f7c5d1;
    border: 1px solid #503327;
    height: 30px;
    width: 70%;
    border-radius: 10px !important;
}


.container-button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
}






