.container-card{
    background: linear-gradient(135deg, #f29eb2, #f7c5d1); 
    border-radius: 5%;
    border: 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 500px;
    display: flex;
    background-color: #f29eb2;
    margin: 50px;
}

.header-card{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.header-card h1{
    font-size: 25px;
    font-weight: bold;
}

.body-card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    align-items: center;
}

.body-card img{
    width: 250px;
    margin: 4%;
    margin-bottom: 15%;
    border: 1px solid;
    border-radius: 5%;
}

.body-card button{
    width: 250px;
    border-radius: 5%;
    padding: 10px 20px;
    background-color: #503327;
    color: #e5adba;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.body-card button:hover{
    background-color: #442a1f;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}