.bg-navbar {
    background: #503327;
    color: white;
    height: 90px;
}

.bg-navbar .nav-link {
    color: #f7c5d1;
    font-weight: bold;
    font-size: 22px;
    margin-left: 35px;
    
}

.links{
    width: 100%;
    justify-content: center;
}

.Logo-imagem{
    width: 110px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
}

.logo p {
    margin: 0;
}