main {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f7c5d1;
  width: 100vw;
  height: 100%;
}

.main-ingredientes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  padding-bottom: 50px;
}

.container-ingredientes{
  margin-top: 5%;
  width: 50%;
  border: 2px solid #503327;
  border-radius: 15px;
  background: linear-gradient(135deg, #f29eb2, #f7c5d1); 
  min-width: 700px;
}


.header-ingredientes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-ingredientes h1{
  color: #503327;
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #503327;
  margin: 10px 0 20px;
  font-weight: bold;
  font-size: 45px;
}

.button-ingredientes{
  width: 240px !important;
  height: 40px !important;
  background-color: #503327 !important;
  border-radius: 10px !important;
  border: 1px solid #503327 !important;
  color: #f7c5d1 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}


.subtitulo{
  width: 70%;
  margin-top: 15px;
  text-align: start;
}